@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --shadow-glass : 0 0 25px rgba(0, 0, 0, 0.15); 
}

/* App styles go here */

a.is-active {
  color: #f59e0b;
  font-weight: bold;
}

/* Page transition styles */
.page-is-transitioning main {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

/* Prevent content jumps during page transitions */
/* body {
  overflow-y: scroll;
} */

/* Smooth transitions for content updates */
#react-root > * {
  transition: opacity 0.2s ease-in-out;
}




